<?xml version="1.0" encoding="UTF-8" ?>  
<!DOCTYPE mapper   
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"   
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">  
<mapper namespace="kr.spring.board.dao.BoardMapper">  
	<select id="selectRowCount" parameterType="map" resultType="integer">
		SELECT COUNT(*) FROM bo 
		<where>
			<if test="keyword!='' and keyfield == 'title'">
				title LIKE '%' || #{keyword} || '%'
			</if>
			<if test="keyword!='' and keyfield == 'name'">
				name LIKE '%' || #{keyword} || '%'
			</if>
			<if test="keyword!='' and keyfield == 'content'">
				content LIKE '%' || #{keyword} || '%'
			</if>
		</where>
	</select>
	<select id="selectList" parameterType="map" resultType="boardVO">
		SELECT * FROM (SELECT a.*,rownum rnum FROM (SELECT * FROM bo  
		<where>
			<if test="keyword!='' and keyfield == 'title'">
				title LIKE '%' || #{keyword} || '%'
			</if>
			<if test="keyword!='' and keyfield == 'name'">
				name LIKE '%' || #{keyword} || '%'
			</if>
			<if test="keyword!='' and keyfield == 'content'">
				content LIKE '%' || #{keyword} || '%'
			</if>
		</where>
		 ORDER BY num DESC)a)
		<![CDATA[
		WHERE rnum >= ${start} AND rnum <= #{end}
		]]>
	</select>
	
	<update id="update" parameterType="boardVO">
		UPDATE bo SET
		<if test="filename!=''">
			uploadfile=#{uploadfile},
			filename=#{filename},
		</if>
		title=#{title},
		content=#{content},
		modify_date=SYSDATE 
		WHERE num=#{num}
	</update>
	
</mapper>







